@charset "UTF-8";

/* posts.posts */
.image {
    width: 250px;
    height: auto;
    margin: 10px;
    border:1px solid #ccc;
}

.mr-2.rounded {
    border-radius: 5rem!important;
}

.media.mb-3 {
    margin-top: 10px;
}

/* users.icon */
.rounded.circle {
    border-radius: 5rem!important;
}

/* users.navtabs */
